/*Nossa Equipe (Daniela)*/
#position {
    position: absolute;
width: 1366px;
height: 678px;
left: 0px;
top: 2150px;

background: #F7EDEB;
}

#box-equipe{
    position: absolute;
width: 1170px;
height: 91px;
left: 98px;
top: 70px;

background: linear-gradient(180deg, rgba(166, 83, 105, 0.3) 0%, rgba(247, 237, 235, 0) 100%);
}

.titulo {
    position: absolute;
width: 168px;
height: 31px;
left: 15px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;
}

#box-1 {
    position: absolute;
width: 540px;
height: 108px;
left: 126px;
top: 191px;

background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}

.nome {
    position: absolute;
width: 59px;
height: 25px;
left: 30px;
top: -10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;

color: #000000;

}

.formacao {
    position: absolute;
width: 75px;
height: 19px;
left: 30px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}

.especia {
    position: absolute;
width: 113px;
height: 19px;
left: 30px;
top: 44px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}

.temp {
    position: absolute;
width: 141px;
height: 19px;
left: 30px;
top: 68px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}

#box-2 {
    position: absolute;
width: 540px;
height: 108px;
left: 126px;
top: 304px;

background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}

#box-3 {
    position: absolute;
width: 540px;
height: 108px;
left: 126px;
top: 417px;

background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}

#box-4 {
    position: absolute;
width: 540px;
height: 108px;
left: 126px;
top: 530px;

background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}

#box-5 {
    position: absolute;
width: 540px;
height: 447px;
left: 698px;
top: 191px;

background: linear-gradient(270deg, rgba(166, 83, 105, 0.3) -1.94%, rgba(247, 237, 235, 0) 100%);

}