/* SAIBA MAIS! */
/*Definindo variáveis de cor e fonte de texto*/
:root {
    --preto: #2E3840;
    --branco: #FFF;
    --branco-rosado: #F7EDEB;
    --rosa-principal: rgba(166, 83, 105, 0.3);
    --montserrat: 'Montserrat', sans-serif;
}
/*deixando o branco-rosado em todo o site e a fonte também*/
body {
    background: var(--branco-rosado);
    font-family: var(--montserrat);
}
#posicao-servicos {
    position: absolute;
    width: 1366px;
    height: 678px;
    left: 0px;
    top: 798px;
}
.titulo-servicos {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 940px;
    height: 72px;
    margin: 16px auto;
    background: linear-gradient(180deg, rgba(166, 83, 105, 0.3) 0%, rgba(247, 237, 235, 0) 100%);
}
.titulo-principal-servicos {
    font-size: 2em;
    margin: .5em;
}
.container-servicos {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 480px;
    margin: 16px auto;
}
.card-servicos {
    width: 160px;
}
/*Onde uma imagem irá ficar, deixando esse background para visualizarmos melhor*/
.img-servicos {
    height: 160px;
    margin-bottom: 16px;
    background-color: var(--rosa-principal);
}
.texto-servicos {
    display: flex;
    height: 200px;
    font-size: 16px;
    text-align: center;
    align-items: center;
}
.saiba-mais-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    margin: 16px 0;
    color: var(--preto);
    text-decoration: none;
    background: var(--rosa-principal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Nossa Equipe (Daniela)*/
#position {
    position: absolute;
    width: 100%;
    height: 678px;
    left: 0px;
    top: 2184px;
}
#box-equipe {
    position: absolute;
    width: 1170px;
    height: 91px;
    left: calc(50% - 1170px/2);
    top: 70px;
    background: linear-gradient(180deg, rgba(166, 83, 105, 0.3) 0%, rgba(247, 237, 235, 0) 100%);
}
.titulo {
    position: absolute;
    width: 168px;
    height: 31px;
    left: 15px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}
#box-1 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 126px;
    top: 191px;
    background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}
.nome {
    position: absolute;
    width: 59px;
    height: 25px;
    left: 30px;
    top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}
.formacao {
    position: absolute;
    width: 75px;
    height: 19px;
    left: 30px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.especia {
    position: absolute;
    width: 113px;
    height: 19px;
    left: 30px;
    top: 54px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.temp {
    position: absolute;
    width: 141px;
    height: 19px;
    left: 30px;
    top: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
#box-2 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 126px;
    top: 304px;
    background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}
#box-3 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 126px;
    top: 417px;
    background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}
#box-4 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 126px;
    top: 530px;
    background: linear-gradient(90deg, rgba(166, 83, 105, 0.3) -1.3%, rgba(247, 237, 235, 0) 99.17%);
}
#box-5 {
    position: absolute;
    width: 540px;
    height: 447px;
    left: 698px;
    top: 191px;
background: linear-gradient(270deg, rgba(166, 83, 105, 0.3) -1.94%, rgba(247, 237, 235, 0) 100%);
}


/* Gustavo Nosso espaco */
#nosso-espaco {
    position: absolute;
    width: 1366px;
    height: 678px;
    left: 0px;
    top: 1457px;
    
    background: #F7EDEB;    
}
.titulo-espaco {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 940px;
    height: 72px;
    margin: 16px auto;
    background: linear-gradient(180deg, rgba(166, 83, 105, 0.3) 0%, rgba(247, 237, 235, 0) 100%);
}
.titulo-principal-espaco {
    font-size: 2em;
    margin: .5em;
}
#container-espaco {
    position: absolute;
    width: 1110px;
    height: 447px;
    left: 128px;
}
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img {
    width: 800px;
}
.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: #fff;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}
.navigation-auto div {
    border: 2px solid rgba(100, 26, 18, 0.568);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}
/*Fim Gustavo Nosso espaco


/*Rodapé*/

#position-rodape {
    position: absolute;
    width: 100%;
    height: 678px;
    left: calc(50% - 1366px/2);
    top: 2892px;

    background: #A65369;
}

#box-rodape1 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 120px;
    top: 126px;

    background: linear-gradient(90deg, #F7EDEB 0%, rgba(243, 25, 25, 0) 97.96%);
}

#box-rodape2 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 120px;
    top: 239px;

    background: linear-gradient(90deg, #F7EDEB 0%, rgba(243, 25, 25, 0) 97.96%);
}

#box-rodape3 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 120px;
    top: 352px;

    background: linear-gradient(90deg, #F7EDEB 0%, rgba(243, 25, 25, 0) 97.96%);
}

#box-rodape4 {
    position: absolute;
    width: 540px;
    height: 108px;
    left: 120px;
    top: 465px;

    background: linear-gradient(90deg, #F7EDEB 0%, rgba(243, 25, 25, 0) 97.96%);
}

#box-rodape5 {
    position: absolute;
    width: 540px;
    height: 447px;
    left: 707px;
    top: 126px;

    background: linear-gradient(270deg, #F7EDEB -1.94%, rgba(243, 25, 25, 0) 100%);
}

.text-rodape {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 30px;
    top: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}